{% extends 'base.html' %}
{% load static %}

{% block Titulo %} Sobre a Empresa - Senac Store {% endblock Titulo %}

{% block Conteudo %}

    <section class="py-5">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/campus.jpg' %}" alt="Logo"class="d-block align-items-center">
              </a>
            </div>
            <div class="container px-4 px-lg-5 mt-5">
              <hr class="border border-primary border-3 opacity-75">
              <h2 class="fw-bolder mb-8">Sobre Nós</h2>
                <p> Sed ut perspiciatis unde omnis natus error sit voluptatem <code>doloremque laudantium</code>, totam rem aperiam, eaque illo <code>veritatis</code> et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui <code> ipsum</code> quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad <code> veniam</code>, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum <code>reprehenderit</code> qui in ea voluptate velit esse 
                    quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas <code>nulla pariatur</code> should be wrapped as inline.
                </p>
            </div>
          </nav>
        </section>
        
{% endblock Conteudo %}
